__pycache__/auggen.cpython-311.pyc
__pycache__/deepModels.cpython-311.pyc
__pycache__/load3Ddata.cpython-311.pyc
__pycache__/model_CT_SS.cpython-311.pyc
image_data/ct_20130524_1011_101232_j40s2.nii.gz
image_data/sub001.nii.gz
image_data/sub002.nii.gz
mask_data/ct_20130524_1011_101232_j40s2.nii.gz
mask_data/ct_20130524_1011_101232_j40s2.nii.gz.bak
weights_folder/unet_CT_SS_20171114_170726.h5
